{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="h1">{{ post.title }}</h1>   
    <p> Published {{ post.publish }} by {{ post.author }}</p>
  </div>
</div>

<div class="container">
    <div class="row comment-row">
        <div class="col-12">
            
            {% if post.post_image %}
            <img src="{{post.post_image.url }}" alt="" width="100%"  class="rounded">
            {% endif %}
            <p class="date">
           
            </p>
           <p class="lead">{{ post.body|linebreaks }}</p> 
        </div>
    </div>
</div>
<h2>Similar posts</h2>

<!-- comment -->
<div class="container">
  <!-- display number of  -->
{% with comments.count as total_comments %}
<h2>
{{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% endwith %}

{% for comment in comments %}
 <div class="comment">
 <p class="info">
 Comment {{ forloop.counter }} by {{ comment.name }}
 {{ comment.created }}
 </p>
 {{ comment.body|linebreaks }}
 </div>
{% empty %}
 <p>There are no comments yet.</p>
{% endfor %}


{% if new_comment %}
 <h2>Your comment has been added.</h2>
{% else %}
 <h2>Add a new comment</h2>
 <form method="post">
 {{ comment_form|crispy }}
 {% csrf_token %}
 <p><input type="submit" value="Add comment"></p>
 </form>
{% endif %}
</div>
{% endblock %}