{% extends "base.html"%}
{% load crispy_forms_tags %}

{% block content %}
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row">
      <div class="col-6">
          {% if form.errors %}
        <p>there was an error</p>
        
        {% endif %}
        <form action="{% url 'accounts:signup'%}" method="post">
      
          {% csrf_token%}
          {{ form|crispy}}
      
        <input  type="submit" value="Submit">
        </form>
      </div>
      <div class="col-6">
        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
          
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
            class="img-fluid" alt="Sample image">

        </div>
      </div>
    </div>
 
  
   

</div>
  </section>
    {% endblock %}
